.mx--1 {
    margin: 0 -0.25rem !important;
}

.overflow-revert {
    overflow: visible !important;
}

.style-scrollbar {
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        border-radius: 10px;
        height: 8px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #999999;
    }
}